<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Resource name="jdbc/OracleDB"
        auth = "Container"
        type = "javax.sql.DataSource"
        username = "system"
        password = "jsp804"
        driverClassName = "oracle.jdbc.driver.OracleDriver"
        factory = "org.apache.tomcat.dbcp.dbcp.BasicDataSourceFactory"
        url = "jdbc:oracle:thin:@localhost:1521:xe"
        maxActive = "500"
        maxIdle = "100"/>
</Context>